/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400; /*폰트굵기*/
  line-height: 1.4; /*16픽셀의 1.4배의 줄높이*/
  font-family: 'Nanum Gothic', sans-serif;
  /* 미리 폰트설정을 body태그에서 시작하고 가는게 좋음 */
}
img {
  display: block; /*img태그를 블록요소화 하여 불필요한 여백을 없앰*/
}
a {
  text-decoration: none; /*문서 내 모든 a태그에 밑줄을 사용하지 않기 위함*/
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
} /* 앞으로 나타날 모든 inner에 대해 공통적으로 적용*/
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  background-color: #333;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}
/*이렇게 다양한 버튼을 미리 css규정해놓음으로써 class에 필요할 때 필요한 것만 추가하여 바로 스타일을 적용 가능함*/
.back-to-position {
  opacity: 0; /*화면에 안 보이는 투명한 상태*/
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px); /*수평x축 즉 좌측으로 150px 이동해있는 상태*/
}
.back-to-position.to-left {
  transform: translateX(150px); /*수평y축 즉 우측으로 150px 이동해있는 상태*/
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0); /*원래 위치로 돌아옴*/
}
.show .back-to-position.delay-0 {
 transition-delay: 0; /*기본값은 0이지만 명시적으로 기입*/
}
.show .back-to-position.delay-1 {
  transition-delay: .3s;
}
.show .back-to-position.delay-2 {
  transition-delay: .6s;
}
.show .back-to-position.delay-3 {
  transition-delay: .9s;
}




/* HEADER */
header {
  width: 100%; /*position값이 absolute나 fixed일때는 가로너비가 최소한으로 줄어들기 때문에 width를 100%로 설정해 가로길이를 채워줌*/
  position: fixed;
  top: 0;
  z-index: 9; /*header의 뱃지가 가장 위에 위치하도록 임의적으로 9를 입력함*/
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}
header > .inner { /*오직 header의 자식요소인 inner만 적용*/
  height: 120px;
  /*margin:0 auto; 오렌지색의 inner가 header의 중아에 오게함*/
}
header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  /* display: block; */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box; /*크기를 보더 기준으로 유지*/
  border-radius: 5px;
  outline: none; /*input 요소 클릭시 생기는 테두리 없앰*/
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
} /* .search.focused는 일치선택자, 둘을 동시에 만족시켜야 함 */
/* input요소가 focus될 때 돋보기아이콘의 투명도를 0으로 만들어 안보이게 함*/

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; /*드롭다운 메뉴가 나타났을 때 다른것들보다 우선하여 나타나도록 즉 잘보이도록 하기위해 요소쌓임순서를 부여함*/
  display: flex;
}
header .main-menu .item {

}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex; /*ul 밑 각 li들을 수평정렬*/
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px; /*가로너비가 다 제각각 다르면 이상할테니 통일*/
}
header .main-menu .item .item__contents .contents__menu > ul > li h4{
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900; /*커서가 올라가면 색깔이 바뀌게끔 함*/
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin:4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.15);
  cursor: pointer;
}





/* FOOTER */
footer {
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 40px 0 60px 0; /*시계방향 padding값*/
}
footer .menu {
  display: flex;
  justify-content: center;
}
footer .menu li {
  position: relative;
}
footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute; /*position이 absolute 또는 fixed일 경우 인라인 요소로 변경
  따라서 display:block없이도 너비와 높이를 가질 수 있음*/
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .menu li:last-child::before {
  display: none;
}
footer .menu li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block; /*a태그는 인라인요소라 padding값을 가질 수 없기 때문*/
}
footer .menu li a.green {
  color: #669900;
}
footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {
  margin-right: 0;
}
footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo {
  margin: 30px auto 0; /*상, 중(좌우), 하로 margin값 부여*/
  /*img요소는
    display:block; + margin: 0 auto; 인 경우,
    width속성이 없이도 가운데 정렬이 가능함.
    이미 img공통 속성으로 위에서 display:block;을 지정했음!ㅕ9*/
}